.userNav__link {
  display: flex;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  justify-content: space-around;
}
.userNav__link:hover {
background-color: bisque;
}

.customerSection {
  border-right: 3px solid wheat;
}

.cart {
  display: flex;
  justify-content: space-between;
}
